@{ Layout = null; }
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/PartialsEcommerce/Layout.css" rel="stylesheet" />
    <link href="~/Content/rootE.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;700;800&display=swap" rel="stylesheet">
    <title>@ViewBag.Title - Dom Tchochoro</title>
    <link rel="icon" href="/dom.ico" type="image/x-icon">
</head>
<body>
    <div id="nav-mobile" class="sidenav-language">
        <header class="nav-mobile-header">
            <div class="nav-identification">
                <div class="mobile-logo" onclick="closeNav()"><img src="~/Content/Imagens/mobile-nav-logo.svg" alt="" class="response-logo"></div>
                @{
                    if (Session["name"] == null)
                    {
                        @Html.ActionLink("Entre", "Login", new { controller = "LoginEcommerce" }, new { @class = "desktop-primary-text" })
                        @Html.ActionLink("ou cadastre-se", "Register", new { controller = "LoginEcommerce" }, new { @class = "desktop-secondary-text" })
                    }
                    else
                    {
                        <div class="identification-name">@Session["name"]</div>
                    }
                }
            </div>
            @{
                if (Session["name"] == null)
                {

                }
                else
                {
                    <ul class="nav-account-link">
                        <li class="nav-links-item">
                              <a href="@Url.Action("MyAccount", "AccountEcommerce")">
                                <p class="account-links">Minha conta<img src="~/Content/Imagens/arrow-left.svg" alt="arrow-left" /></p> 
                            </a>

                        </li>
                        <li class="nav-links-item">
                            <a href="@Url.Action("TrackOrder", "AccountEcommerce")">
                                <p class="account-links">Meus pedidos<img src="~/Content/Imagens/arrow-left.svg" alt="arrow-left" /></p> 
                            </a>
                        </li>
                    </ul>
                }
            }
        </header>
        <img src="~/Content/Imagens/arrow-left.svg" alt="">
        <div class="nav-mobile-scroll">
            <ul class="mobile-menu">
                <li class="menu-category">
                    <button class="menu-category-label ">Todas as categorias<img class="img-menu" src="" alt=""></button>   
                </li>
                <li class="menu-category">
                    <button class="menu-category-label ">Gatos<img class="img-menu" src="" alt=""></button>
                <li class="menu-category">
                    <button class="menu-category-label ">Cachorros<img class="img-menu" src="" alt=""></button>
                </li>
                <li class="menu-category">
                    <button class="menu-category-label ">Medicamentos <img class="img-menu" src="" alt=""></button>
                </li>
                <li class="menu-category">
                    <button class="menu-category-label ">Transporte<img class="img-menu" src="" alt=""></button>
                </li>
            </ul>
        </div>
    </div>
    
    <div class="header-shadow" id="header-shadow" onclick="closeNav()"></div>
    
    <div id="main">
        <header class="desktop-header">
            <div class="container">
            </div>
            <div class="desktop-main">
                <div class="desktop-container container">
                    <a href="@Url.Action("Home", "HomeEcommerce")">
                        <img src="~/Content/Imagens/Logo-mobile.svg" class="desktop-main-logo" alt="Logo">
                    </a>
                    <form class="desktop-search" action="/">
                        <input value="product"
                               type="hidden">
                        <input class="desktop-search-input"
                               type="search"
                               placeholder="O que você está procurando?">
                        <button class="desktop-search-button">
                            <img src="~/Content/Imagens/SearchLogo.svg" alt="" class="desktop-search-button-image">
                        </button>
                    </form>
                    <nav class="desktop-logged-in">
                        <div class="desktop-trigger">
                            <img src="~/Content/Imagens/Person.svg" alt="">
                            <div class="header-text">
                                @{
                                    if (Session["name"] == null)
                                    {
                                        @Html.ActionLink("Entre", "Login", new { controller = "LoginEcommerce" }, new { @class = "desktop-primary-text" })
                                        @Html.ActionLink("ou cadastre-se", "Register", new { controller = "LoginEcommerce" }, new { @class = "desktop-secondary-text" })
                                    }
                                    else
                                    {
                                        <span class="desktop-primary-text">Olá, @Session["name"]</span>
                                    }
                                }


                            </div>
                            @{
                                string userinfo = (string)Session["access"];

                                if (Session["name"] == null)
                                {
                                    
                                }
                                else if (userinfo == "1")
                                {
                                    <div class="desktop-trigger-arrow">
                                        <div class="dropdown">
                                            <button class="dropbtn"><img src="~/Content/Imagens/ArrowDown.svg" alt=""></button>
                                            <div class="dropdown-content">
                                                @Html.ActionLink("Minha conta", "MyAccount", new { controller = "AccountEcommerce" }, new { @class = "" })
                                                @Html.ActionLink("Meus pedidos", "TrackOrder", new { controller = "AccountEcommerce" }, new { @class = "" })
                                                @Html.ActionLink("Dashbord", "Home", new { controller = "Home" }, new { @class = "" })
                                                <hr />
                                                <a href="@Url.Action("Logout", "Home")">
                                                    <span class="dropdown-exit">Sair</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="desktop-trigger-arrow">
                                        <div class="dropdown">
                                            <button class="dropbtn"><img src="~/Content/Imagens/ArrowDown.svg" alt=""></button>
                                            <div class="dropdown-content">
                                                @Html.ActionLink("Minha conta", "MyAccount", new { controller = "AccountEcommerce" }, new { @class = "" })
                                                @Html.ActionLink("Meus pedidos", "TrackOrder", new { controller = "AccountEcommerce" }, new { @class = "" })
                                                <hr />
                                                <a href="@Url.Action("Logout", "Home")">
                                                    <span class="dropdown-exit">Sair </span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </nav>
                    <a href="@Url.Action("Cart", "PaymentEcommerce")">
                        <img src="~/Content/Imagens/Cart.svg" alt="Carrinho" class="desktop-cart">
                    </a>
                </div>
            </div>
            <nav class="desktop-nav">
                <div class="desktop-nav-container container">
                    <ul class="desktop-nav-menu">
                        <li class="desktop-nav-parent">
                            <a class="blue-nav-category" href="">Todas⠀as⠀categorias</a>
                        </li>
                        <li class="desktop-nav-parent">
                            <a class="nav-category" href="">Gatos</a>
                        </li>
                        <li class="desktop-nav-parent">
                            <a class="nav-category" href="">Cachorros</a>
                        </li>
                        <li class="desktop-nav-parent">
                            <a class="nav-category" href="">Medicamentos</a>
                        </li>
                        <li class="desktop-nav-parent last">
                            <a class="nav-category" href="">Transporte</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>

        <header class="mobile-header">
            <div class="mobile-main">
                <button class="mobile-trigger" Onclick="openNav()"><img src="~/Content/Imagens/menu.svg" alt="menu" class="mobile-menu-image"></button>
                <a href="@Url.Action("Home", "HomeEcommerce")">
                    <img src="~/Content/Imagens/Logo-mobile.svg" class="mobile-menu-logo" alt="Logo">
                </a>
                <a href="@Url.Action("Cart", "PaymentEcommerce")">
                    <img src="~/Content/Imagens/Cart.svg" alt="Carrinho" class="mobile-menu-cart">
                </a>
            </div>
            <form action="" class="mobile-search-bar">
                <input name="post_type"
                       value="product"
                       type="hidden">
                <input class="mobile-input-search"
                       type="search"
                       placeholder="O que está procurando?">
                <button class="mobile-search-icon" type="submit">
                    <img src="~/Content/Imagens/SearchLogo.svg" alt="Lupa" class="mobile-search-image">
                </button>
            </form>
        </header>

        @RenderBody()

        <footer class="footer">
            <div class="footer-content">
                <ul class="socials">
                    <li><a href="#"><img src="~/Content/Imagens/Instagram.svg" alt="Instagram" class="social-images"></a></li>
                    <li><a href="#"><img src="~/Content/Imagens/Twitter.svg" alt="Twitter" class="social-images"></a></li>
                    <li><a href="#"><img src="~/Content/Imagens/Email.svg" alt="Email" class="social-images"></a></li>
                </ul>
                <h3 class="footer-text">Desenvolvido por Infinity Tech Us™</h3>
                <div class="logo-footer">
                    <img src="/images/InfinityLogo.svg" alt="">
                </div>
                <span class="footer-copyright">Copyright © Dom Tchochoro. Todos os direitos reservados.</span>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
        @Scripts.Render("~/Scripts/scripts.js")
        @Scripts.Render("~/Scripts/lightslider.js")

</body>
</html>