@model GladiaSystem.Models.Product
@{

    Layout = "~/Views/Shared/_LayoutEcommerce.cshtml";
    ViewBag.Title = "Produto Selecionado";
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Home - Dom Tchochoro</title>
    <link href="~/Content/PartialsEcommerce/ProductSelected.css" rel="stylesheet">
    <link href="~/Content/PartialsEcommerce/Home.css" rel="stylesheet" />
    <link href="~/Content/rootE.css/" rel="stylesheet">
    <link href="~/Content/PartialsEcommerce/lightslider.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;700;800&display=swap" rel="stylesheet">
    @Scripts.Render("~/Scripts/lightslider.js")
</head>
<body>

    <section class="container">
        <article class="row">
            <figure class="col-md-7 mb-3">
                <img src="@Model.img" class="img-fluid" alt="Camiseta manga Comprida">
            </figure>
            <div class="col-md-5 mb-3 d-flex flex-column justify-content-around">
                <article class="product-content container">
                    <div class="top-information">
                        <h1 class="product-title">@Model.Name</h1>
                        <div class="block-information">
                            <span><strong>Código:</strong> @Model.ID</span>
                            <span class="product-brand"><strong>Marca:</strong> @Model.Brand</span>
                        </div>
                        <hr>
                        <p class="product-price">R$ @Model.Price</p>
                        @{
                            if (Model.Quant != 0)
                            {
                                <p class="inventory">Em estoque</p>
                            }
                            else
                            {
                                <p class="inventory red">Esgotado</p>
                            }
                        }
                    </div>

                    @using (Html.BeginForm("AddCart", "HomeEcommerce", FormMethod.Post, new { @class = "form-button" }))
                    {
                        <div class="input-container">
                            
                            @if(Session["access"] == null)
                        {
                            <button type="submit" class="buy-button disable-button" disabled>Adicionar ao carrinho</button>
                        }
                        else
                        {
                            <button type="submit" class="buy-button">Adicionar ao carrinho</button>
                        }

                            @Html.TextBoxFor(model => model.ID, new { @class = "hidden" })
                            <input type="button" value="-" id="sub">
                            @Html.TextBoxFor(model => model.Quant, new { @Value = "1", @class = "input-decoration", @type = "number", @min = "1", @max = "99", @name = "quantity", @pattern = "", @inputmode = "", @id = "qtyBox", @autocomplete = "off" })
                            <input type="button" value="+" id="add">

                        </div>
                    }
                </article>
            </div>
        </article>
    </section>
    <section class="container">
        <h3 class="specifications-title">Especificações</h3>
        <p class="produc-selected-desc">@Model.Desc</p>
        <hr>
    </section>
    <section class="container">
        <h2 class="text-title">Você também pode gostar de...</h2>
    </section>

    <section class="section-container container">
        <ul class="flex-banners">
            <li class="banner-item">
                <div class="banner-image"><img class="banner-picture" src="~/Content/Imagens/racoes.png" alt=""></div>
                <div class="banner-info">
                    <h3 class="banner-title">Rações</h3>
                    <p class="banner-content">
                        Quem tem pet em casa sabe a necessidade de oferecer
                        uma execelente alimentação para manter a saúde de seu
                        pet em dia
                    </p>
                    <a href="@Url.Action("Search", "HomeEcommerce")">
                        <p class="banner-link">Comprar aqui<img class="miniArrow" src="~/Content/Imagens/minibannericon.png" alt=""></p>
                    </a>
                </div>
                <a href="" class="full-link"></a>
                <a href="@Url.Action("Search", "HomeEcommerce")">
                    <p class="full-link"></p>
                </a>
            </li>
            <li class="banner-item">
                <div class="banner-image"><img class="banner-picture" src="~/Content/Imagens/petiscos.png" alt=""></div>
                <div class="banner-info">
                    <h3 class="banner-title">Petiscos</h3>
                    <p class="banner-content">
                        Nós sabemos o quão prazero é garantira saúde, e a felicidade
                        de seu pet. Por esse motivo nada é mais saboroso e divertido
                        do que petiscos para o seu animalzinho
                    </p>
                    <a href="@Url.Action("Search", "HomeEcommerce")">
                        <p class="banner-link">Comprar aqui<img class="miniArrow" src="~/Content/Imagens/minibannericon.png" alt=""></p>
                    </a>
                </div>
                <a href="@Url.Action("Search", "HomeEcommerce")">
                    <p class="full-link"></p>
                </a>
            </li>
        </ul>
    </section>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/scripts.js")
    @Scripts.Render("~/Scripts/product.js")
</body>
</html>