@model GladiaSystem.Models.Product
@{
    Layout = "~/Views/Shared/_LayoutEcommerce.cshtml";
    ViewBag.Title = "Procurar";

    List<int> IDs = ViewBag.IDs;
    List<string> NameList = ViewBag.Name;
    List<string> Desc = ViewBag.Desc;
    List<double> PriceList = ViewBag.Price;
    List<double> QuantList = ViewBag.Quant;
    List<int> QuantMinList = ViewBag.QuantMin;
    List<string> Brands = ViewBag.Brand;
    List<string> Images = ViewBag.Images;
    List<string> CategoryNames = ViewBag.CategoryName;
    List<GladiaSystem.Models.Product> products = ViewBag.AllProduct;
}


<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Search - Dom Tchochoro</title>
    <link href="~/Content/PartialsEcommerce/Search.css" rel="stylesheet" />
    <link href="~/Content/rootE.css/" rel="stylesheet">
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;700;800&display=swap" rel="stylesheet">
</head>
<body>
    <section class="page-section">
        <div class="container">
            <div class="row">
                    <div class="col-lg-3 form">
                    @{
                        string food = "Comida";
                        string toys = "Brinquedos";
                        string meds = "Medicamentos";
                        string hygiene = "Higiene";
                    }
                    <h2 class="sidebar-title"><b>Categorias</b></h2>
                    <p class="sidebar-list"><a href="@Url.Action("Search", "HomeEcommerce", new { categoryFilter =  toys})" class="filter-sidebar">Brinquedos</a></p>
                    <p class="sidebar-list"><a href="@Url.Action("Search", "HomeEcommerce", new { categoryFilter =  food})" class="filter-sidebar">Comida</a></p>
                    <p class="sidebar-list"><a href="@Url.Action("Search", "HomeEcommerce", new { categoryFilter =  meds})" class="filter-sidebar">Medicamentos</a></p>
                    <p class="sidebar-list"><a href="@Url.Action("Search", "HomeEcommerce", new { categoryFilter = hygiene })" class="filter-sidebar">Higiene</a></p>

                    <h2 class="sidebar-title"><b>Filtrar por:</b></h2>
                    <div class="filter-box">
                        <div class="item-filter">
                            <p class="filter-title">Preço</p>
                            @{
                                string SearchPriceOne = "SearchPriceOne";
                                string SearchPriceTwo = "SearchPriceTwo";
                                string SearchPriceThree = "SearchPriceThree";
                            }
                            <p class="sidebar-list"><a  class="text-archive" href="@Url.Action("Search", "HomeEcommerce", new { categoryFilter =  SearchPriceOne})">De R$5,00 até R$20,00</a></p>
                            <p class="sidebar-list"><a  class="text-archive"href="@Url.Action("Search", "HomeEcommerce", new { categoryFilter =  SearchPriceTwo})">De R$20,00 até R$40,00</a></p>
                            <p class="sidebar-list"><a  class="text-archive" href="@Url.Action("Search", "HomeEcommerce", new { categoryFilter =  SearchPriceThree})">De R$40,00 até R$80,00</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 all-products">
                    <div class="container row order">  
                        <div class="total-products">
                            <p class="text-total-products"><b></b>Produtos</p>
                        </div>
                    </div>
                    <div class="container row">
                        <button type="button" class="btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Filtros</button>
                    </div>
                    <hr>
                    <div class="products-item">
                        @{if (IDs != null & NameList != null & QuantList != null)
                            {
                                for (int i = 0; i < IDs.Count; i++)
                                {

                                    <div class="product">
                                        <div class="card">
                                            <div class="card-body">
                                                <img src="@Images[i]" class="product-image img-fluid">
                                                <div class="information-card">
                                                    <p class="card-text">@NameList[i]</p>
                                                    <p class="card-price">R$ @PriceList[i]</p>
                                                    <a href="@Url.Action("ProductSelected", "HomeEcommerce", new {@class = "btn-card", ProductID = IDs[i] })" class="btn-card">Ver produto</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                            else
                            {

                                foreach (GladiaSystem.Models.Product item in products)
                                {

                                    <div class="product">
                                        <div class="card">
                                            <div class="card-body">
                                                <img src="@item.img" class="product-image img-fluid">
                                                <div class="information-card">
                                                    <p class="card-text">@item.Name</p>
                                                    <p class="card-price">R$ @item.Price</p>
                                                    <a href="@Url.Action("ProductSelected", "HomeEcommerce", new {@class = "btn-card", ProductID = item.ID })" class="btn-card">Ver produto</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="modal bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <ul>
                        <li class="archive-block">
                            <p class="sidebar-title">Categorias</p>
                            <ul>
                                <li class="sidebar-list"><a href="@Url.Action("Search", "HomeEcommerce", new { categoryFilter =  toys}) ">Brinquedos</a></li>
                                <li class="sidebar-list"><a href="@Url.Action("Search", "HomeEcommerce", new { categoryFilter =  food})">Comida</a></li>
                                <li class="sidebar-list"><a href="@Url.Action("Search", "HomeEcommerce", new { categoryFilter =  meds})">Medicamento</a></li>
                                <li class="sidebar-list "><a href="@Url.Action("Search", "HomeEcommerce", new { categoryFilter =  hygiene})">Higiene</a></li>
                            </ul>
                        </li>  
                        <li>
                            <p class="sidebar-title">Filtrar por:</p>
                            <ul class="archive-block">
                                <li class="filter-title archive-block">Preço</li>
                                <li class="sidebar-list text-archive"><a href="@Url.Action("Search", "HomeEcommerce", new { categoryFilter =  SearchPriceOne})">De R$5,00 até R$20,00</a></li>
                                <li class="sidebar-list text-archive"><a  href="@Url.Action("Search", "HomeEcommerce", new { categoryFilter =  SearchPriceTwo})">De R$20,00 até R$40,00</a></li>
                                <li class="sidebar-list text-archive"><a href="@Url.Action("Search", "HomeEcommerce", new { categoryFilter =  SearchPriceThree})">De R$40,00 até R$80,00</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</body>
</html>