@model GladiaSystem.Models.User
@{
    Layout = null;
    ViewBag.Title = "Registrar Endereço";
    List<GladiaSystem.Models.BrUf> brUfs = ViewBag.ListUfs;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Registrar - Dom Tchochoro</title>
    <link href="~/Content/rootE.css" rel="stylesheet" />
    <link href="~/Content/PartialsEcommerce/LogginEcommerce.css" rel="stylesheet" />
    <link href="~/Content/PartialsEcommerce/Register.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;700;800&display=swap" rel="stylesheet">
</head>
<body>
    <div class="l-form">
        @using (Html.BeginForm("RegisterNewAddress", "LoginEcommerce", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form" }))
        {
            <a href="@Url.Action("Home", "HomeEcommerce")">
                <img class="logo" src="~/Content/Imagens/logo-bill.svg" alt="D da Dom Tchochoro" />
            </a>

            <h1 class="form__title">Criar conta</h1>

            <div class="form__div">
                @Html.ValidationMessageFor(m => m.Cep, "", new { @class = "text-danger" })
                @Html.EditorFor(model => model.Cep, new { htmlAttributes = new { @class = "form__input", placeholder = " " } })
                <label for="" class="form__label">Digite seu Cep</label>
            </div>

            <div class="form__div">
                <label for="" class="form__label">Digite seu UF</label>
                <select id="BrUf.ID" name="BrUf.ID" class="form-control combo-box">
                    @foreach (GladiaSystem.Models.BrUf item in brUfs)
                    {
                        <option value="@item.ID"
                                @if (item.ID == Model.BrUf.ID) { @: selected
                                }>
                            @item.Name
                        </option>
                    }

                </select>
            </div>

            <div class="form__div">
                @Html.ValidationMessageFor(m => m.City, "", new { @class = "text-danger" })
                @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form__input", placeholder = " " } })
                <label for="" class="form__label">Digite sua cidade</label>
            </div>

            <div class="form__div">
                @Html.ValidationMessageFor(m => m.District, "", new { @class = "text-danger" })
                @Html.EditorFor(model => model.District, new { htmlAttributes = new { @class = "form__input", placeholder = " " } })
                <label for="" class="form__label">Digite seu bairro</label>
            </div>

            <div class="form__div">
                @Html.ValidationMessageFor(m => m.PublicPlace, "", new { @class = "text-danger" })
                @Html.EditorFor(model => model.PublicPlace, new { htmlAttributes = new { @class = "form__input", placeholder = " " } })
                <label for="" class="form__label">Digite seu endereço</label>
            </div>

            <div class="form__div">
                @Html.ValidationMessageFor(m => m.Complement, "", new { @class = "text-danger" })
                @Html.EditorFor(model => model.Complement, new { htmlAttributes = new { @class = "form__input", placeholder = " " } })
                <label for="" class="form__label">Digite seu complemento</label>
            </div>

            <button class="form__button" type="submit">Criar sua conta</button>

            <span class="create-account-text">
                Já tem uma conta?
                @Html.ActionLink("Faça login", "Login", new { controller = "LoginEcommerce" }, new { @class = "create-link" })
            </span>
        }
    </div>
    <script src="~/Scripts/cleave.js"></script>
    <script src="~/Scripts/cleave-phone.br.js"></script>
    <script>
        var cleaveCpf = new Cleave('#Cpf', {
            delimiters: ['.', '.', '-'],
            blocks: [3, 3, 3, 2],
            numericOnly: true,
            delimiterLazyShow: true
        });
    </script>
</body>
</html>
