@model GladiaSystem.Models.TrackOrder

@{
    Layout = null;
    List<GladiaSystem.Models.TrackOrder> trackOrders = ViewBag.AllOrders;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TrackOrderDetail</title>
    <link href="~/Content/Partials/Product.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    <link href="~/Content/rootE.css" rel="stylesheet" />
    <link href="~/Content/PartialsEcommerce/Cart.css" rel="stylesheet" />
    <link href="~/Content/PartialsEcommerce/Payment.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;700;800&display=swap"
          rel="stylesheet" />

</head>
<body>
    <div>
        <h4>TrackOrder</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.OrderID)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.OrderID)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Date)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Date)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Payment)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Payment)
            </dd>
    
            <table class="table">
                <thead>
                    <tr>
                        <th class="left" scope="col"></th>
                        <th class="left" scope="col">Item</th>
                        <th scope="col"></th>
                        <th scope="col">Preço</th>
                    </tr>
                </thead>
                <tbody>
                    @{int totalValueGlobal = 0; }

                    @foreach (var item in trackOrders)
                    {
                        <tr>
                            <td class="left"><img src="@item.Image"/></td>
                            <td class="left">@item.Name</td>
                            <th class="left" scope="row">x @item.Quant</th>
                            @{
                                int totalValue = item.Quant * item.Price;
                                totalValueGlobal += totalValue;
                            }
                            <td>R$ @totalValue</td>
                        </tr>
                    }
                </tbody>
            </table>
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
