
@{
    ViewBag.Title = "Pagamento";
    Layout = "~/Views/Shared/_LayoutEcommerce.cshtml";
    List<GladiaSystem.Models.Product> products = ViewBag.AllProducts;
}
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Pagamento - Dom Tchochoro</title>
    @Styles.Render("~/Content/css")
    <link href="~/Content/rootE.css" rel="stylesheet" />
    <link href="~/Content/PartialsEcommerce/Cart.css" rel="stylesheet" />
    <link href="~/Content/PartialsEcommerce/Payment.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;700;800&display=swap"
          rel="stylesheet" />
</head>
<style>
    #first {
        background-color: transparent;
    }
    #first-text {
        color: var(--buttom-color);
    }
    #second {
        background-color: var(--buttom-color);
    }
    #second-text {
        color: var(--base-color);
    }
</style>
<section class="steps">
    <div id="first-step-container" class="step-container">
        <div id="first" class="number-container">
            <span id="first-text" class="step-number">1</span>
        </div>
        <span class="step-text">Carrinho</span>
    </div>
    <div id="second-step-container" class="step-container">
        <div id="second" class="number-container">
            <span id="second-text" class="step-number">2</span>
        </div>
        <span class="step-text">Pagamento</span>
    </div>
    <div id="third-step-container" class="step-container">
        <div id="third" class="number-container">
            <span id="third-text" class="step-number">3</span>
        </div>
        <span class="step-text">Recibo</span>
    </div>
</section>
<main class="main-payment">
    <h2 class="main-text">
        Escolha a opção de pagamento a abaixo<br />
        e complete com as informações apropriadas
    </h2>
    <div class="payment-method">
        <button type="button" class="btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg" onclick="enableButton()">
            <img class="picpay" src="~/Content/Imagens/a.png" alt="Pic Pay" />
        </button>
    </div>
    <h1 class="order-text">
        Revise seu pedido
    </h1>

    <table class="table">
        <thead>
            <tr>
                <th class="left" scope="col">Item</th>
                <th scope="col"></th>
                <th class="table-price" scope="col">Preço</th>
            </tr>
        </thead>
        <tbody>
            @{double totalValueGlobal = 0; }

            @foreach (GladiaSystem.Models.Product item in products)
            {
                <tr>
                    <td class=" left"><p class="item-text">@item.Name</p></td>
                    <th class="left" scope="row">x @item.Quant</th>
                    @{
                        double totalValue = item.Quant * item.Price;
                        totalValueGlobal += totalValue;
                    }
                    <td class="text-black">R$ @totalValue</td>
                </tr>
            }


        </tbody>
    </table>

    <h1 class="order-total">
        <span class="order-total-text">Total</span>
        <span class="order-total-value">R$ @totalValueGlobal</span>
    </h1>

    <div class="continue">
        <div class="hr-continue"></div>
       @Html.ActionLink("Continue", "FinishOrder", new { controller = "PaymentEcommerce", totalValue = totalValueGlobal }, new { @class = "button-continue" })
        <div class="hr-continue"></div>
    </div>

    <div class="back">
        <span class="back-span">Talvez você queira voltar?</span>
        @Html.ActionLink("Voltar", "Home", new { controller = "HomeEcommerce" }, new { @class = "back-button" })
    </div>


    <div class="modal bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="card-body">
                <div class="qrcode-container">
                    <h1 class=""></h1>
                    <p class="qrcode-title">Escanei o qr o code</p>
                    <p class="qrcode-information">Para fazer a transferencia basta ler o qr code pelo celular</p>
                </div>
                <div class="center-img">
                    <img src="~/Content/Imagens/qrcodepicpay.png" alt="Alternate Text" class="qr-code" />
                </div>
            </div>
        </div>
    </div>
</main>
