@model GladiaSystem.Models.Product
@{
    ViewBag.Title = "Lista de produtos";
    ViewBag.Selected = "productList";
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<int> IDs = ViewBag.IDs;
    List<string> NameList = ViewBag.Name;
    List<string> Desc = ViewBag.Desc;
    List<double> PriceList = ViewBag.Price;
    List<double> QuantList = ViewBag.Quant;
    List<int> QuantMinList = ViewBag.QuantMin;
    List<string> Brands = ViewBag.Brand;
    List<string> Images = ViewBag.Images;
    List<string> CategoryNames = ViewBag.CategoryName;

    List<GladiaSystem.Models.Product> products = ViewBag.AllProduct;
}

@Styles.Render("~/Content/Partials/List.css")
<head>
    <link href="~/Content/PartialsEcommerce/Search.css" rel="stylesheet" />
</head>

<div class="container-list">
    <div class="input-group" id="input-prod">
        @using (Html.BeginForm("SearchProduct", "Home", FormMethod.Post, new { @class = "form-none" }))
        {
            @Html.TextBoxFor(m => m.Name, new { placeholder = "Digite o nome do produto", @class = "form-control search" })
        }
    </div>

    <div class="card-grid">
        @{if (IDs != null & NameList != null & QuantList != null)
            {
                for (int i = 0; i < IDs.Count; i++)
                {
                    <div class="icon-photo" id="card">
                        <div class="card">
                            <img src=@Images[i] alt="" class="card-img-top" />
                            <div class="card-body">
                                <div class="card-text">
                                    <p class="card-title">@NameList[i]</p>
                                    <p>@Brands[i]</p>
                                    <p id="card-text-desc">@Desc[i]</p>
                                    <p>@CategoryNames[i]</p>
                                    <p id="card-price">R$asa @PriceList[i]</p>
                                    <p id="card-price">Quantidade: @QuantList[i]</p>
                                </div>
                                @{if (QuantList[i] <= QuantMinList[i])
                                    {
                                        <p id="card-price-red">Qtd Min: @QuantMinList[i]</p>
                                    }
                                    else
                                    {
                                        <p id="card-price">Qtd Min: @QuantMinList[i]</p>
                                    }
                                }
                                <div class="card-footer">
                                    <a href="@Url.Action("ProdDelete", "Home", new {@class = "btn-card", productID = IDs[i] })" class="btn-card">Deletar</a>
                                    <a href="@Url.Action("ProductEdit", "Home", new {@class = "btn-card", productID = IDs[i] })" class="btn-card">Editar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                foreach (GladiaSystem.Models.Product item in products)
                {
                    <div class="icon-photo" id="card">
                        <div class="card">
                            <img src="@item.img" alt="" class="card-img-top" />
                            <div class="card-body">
                                <p id="card-title">@item.Name</p>
                                <div class="card-text">
                                    <p class="card-title">@item.Brand</p>
                                    <p id="card-text-desc">@item.Desc</p>
                                    <p>@item.Category.name</p>
                                    <p id="card-price">R$ @item.Price</p>
                                    <p id="card-price">Quant: @item.Quant</p>
                                </div>
                                @{
                                    if (item.Quant <= item.QuantMin)
                                    {
                                        <p id="card-price-red">Min: @item.QuantMin</p>
                                    }
                                    else
                                    {
                                        <p id="card-price">Min: @item.QuantMin</p>
                                    }
                                }
                                <div class="card-footer">
                                    <a href="@Url.Action("ProdDelete", "Home", new {@class = "btn-card", productID = item.ID })" class="btn-card">Deletar</a>
                                    <a href="@Url.Action("ProductEdit", "Home", new {@class = "btn-card", productID = item.ID })" class="btn-card">Editar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        }
        </div>
    </div>

